<!-- views/partials/footer.ejs -->
<footer>
<hr>
<p>Ángel Alcaide    
</br>
<a href="https://github.com/alqaid/ejs_sample.git" target="_blank">https://github.com/alqaid/ejs_sample.git</a>
</p>
<p>Linkedin: <a href="https://www.linkedin.com/in/angelalcaide/">https://www.linkedin.com/in/angelalcaide/</a></p>
</footer>
</body>



</html>