<%- include('partials/header') %>


    <h1><%= messages %></h1>
    <p>This is a dynamic page rendered with EJS and Express.js.</p>
    <a href="products">Productos</a>
    <h2>Sample with MongoDB</h2>
    <p>This is a dynamic page rendered with EJS and Express.js. and MongoDB</p>
    <a href="movies">Movies</a>
    
<%- include('partials/footer') %>