<%- include('partials/header') %>


    <h1><%= messages %></h1>
    <p>This is a dynamic page rendered with EJS and Express.js.</p>
    <a href="products">Productos</a>

    
<%- include('partials/footer') %>